<%= form_for [post, comment] do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter comment" %>
  </div>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>